@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-5xl font-bold;
}

h2 {
  @apply text-4xl font-bold;
}

h3 {
  @apply text-3xl font-bold;
}

h4 {
  @apply text-2xl font-bold;
}

p,
h1,
h2,
h3,
h4 {
  @apply my-2;
}

h1,
h2,
h3,
h4 {
  @apply font-scout;
  @apply uppercase;
}

p {
  @apply text-justify;
  font-family: 'Roboto', sans-serif;
}

.stretch-condensed {
  font-stretch: condensed;
}

.h-half-screen {
  height: 50vh;
}

@font-face {
  font-family: "Scout Family";
  src: url("/fonts/ScoutCond-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Scout Family";
  src: url("/fonts/ScoutCond-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Scout Family";
  src: url("/fonts/ScoutCond-Light.ttf");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Scout Family";
  src: url("/fonts/ScoutCond-LightItalic.ttf");
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: "Scout Family";
  src: url("/fonts/ScoutCond-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Scout Family";
  src: url("/fonts/ScoutCond-RegularItalic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Scout Family";
  src: url("/fonts/ScoutCond-Bold.ttf");
  font-weight: bold;
  font-style: normal;
  font-stretch: condensed;
}

@font-face {
  font-family: "Scout Family";
  src: url("/fonts/ScoutCond-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
  font-stretch: condensed;
}

@font-face {
  font-family: "Scout Family";
  src: url("/fonts/ScoutCond-Light.ttf");
  font-weight: lighter;
  font-style: normal;
  font-stretch: condensed;
}

@font-face {
  font-family: "Scout Family";
  src: url("/fonts/ScoutCond-LightItalic.ttf");
  font-weight: lighter;
  font-style: italic;
  font-stretch: condensed;
}

@font-face {
  font-family: "Scout Family";
  src: url("/fonts/ScoutCond-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-stretch: condensed;
}

@font-face {
  font-family: "Scout Family";
  src: url("/fonts/ScoutCond-RegularItalic.ttf");
  font-weight: normal;
  font-style: italic;
  font-stretch: condensed;
}

@font-face {
  font-family: "Scout Family";
  src: url("/fonts/ScoutCond-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
  font-stretch: condensed;
}

@font-face {
  font-family: "Scout Family";
  src: url("/fonts/ScoutCond-ExtraLightItalic.ttf");
  font-weight: 200;
  font-style: italic;
  font-stretch: condensed;
}

@font-face {
  font-family: "Scout Family";
  src: url("/fonts/ScoutCond-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Scout Family";
  src: url("/fonts/ScoutCond-ExtraLightItal.ttf");
  font-weight: 200;
  font-style: italic;
  font-stretch: normal;
}

.slide___3-Nqo {
  width: 100% !important;
}

@media screen and (max-width: 720px) {
  .main-video {
    position: relative;
  }

  .main-content {
    position: relative;
    width: 100% !important;
    color: black;
    padding: 20px;
  }

  .content-container {
    flex-direction: column;
  }


  .left-content {
    position: relative;
    width: 100%;
    display: block !important;
  }

  .content-bg {
    position: relative;
  }

  .content-logo {
    width: 100% !important;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .padding-0-imp {
    padding: 0 !important;
  }

  .lg-device {
    display: none;
  }
}